@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/mixins";
@import "partials/base";
@import "compass/css3";

body, html {

    font-family: 'Lato', sans-serif;
    display: flex;
    margin:0;
    padding:0;
    width: 100%;
    font-size: 10px;

    @include respond-to('mobile') {
        font-size: 10px;
    }

    @include respond-to('small') {
        font-size: 12px;
    }

    @include respond-to('medium') {
        font-size: 16px;
    }

    @include respond-to('large') {
        font-size: 16px;
    }

}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

//Aston Hack Style Titles
.AHTitle{
    font-family:  'Raleway', sans-serif;

}

#page{

	display: inline-block;


    @include dropShaddowBellow(0 40px 50px -12px);

}

.pageStdVSpace{
	display: block;
	width: 100%;
	height: 20%;

}

.standardVSpace{

    padding-top: 5%;
    display: block;

}

//Veritical space, for general use
.verticalSpace{
    margin-top: 5%;

}

//Verical space in small views only
.verticalSpaceMobOnly{
    @include respond-to('mobile') {
        display: block;
    }

    @include respond-to('small') {
        display: block;
    }

    @include respond-to('medium') {
        display: none;
    }

    @include respond-to('large') {
        display: none;
    }

}

/*
	Add an additional text size
 */
 .display-5{
     font-size: 2.6rem;
     font-weight: 300;
 }


 #imageSpacer{

    width: 100%;
    display: block;

}


////////////*/
//              Page Header, 'Hero' Style
////////////*/

#pageHeader{

    #pageHeaderButtons{
        position: fixed;
        
        text-align: center;
        color: white;
        //Hidden at first to allow for calculation of positioning
        display: none;

        font-size: 1em;

    }

    #pageHeaderContent{
        position: fixed;
        z-index: 0;
        text-align: center;
        color: white;
        //Hidden at first to allow for calculation of positioning
        display: none;
        font-size: 1em;

        h1{
            margin-top: 0px;
        }

    }

    // Remove the reset.css default pading on container-fluid
    padding: 0px;

    height: 70%;

    @include respond-to('mobile') {
        height: 100%;
        height: 100vh;
        background-size: 35%;
    }

    @include respond-to('small') {
        height: 100%;
        height: 100vh;      
        background-size: 30%;
    }

    @include respond-to('medium') {
        height: 100%;
        height: 100vh;
        background-size: 25%;
    }

    @include respond-to('large') {
        height: 100%;
        height: 100vh;
        background-size: 15%;
    }


    background-color: $plainBackground2;
    overflow: hidden;
    
    background-image: url('/assets/media/astonhack-logo.svg');

    background-attachment: fixed;

    background-size: 15%;
    background-position-x: center;
    background-position-y: 5%;
    background-repeat: no-repeat;



    

}


#astonmb{

    max-width: 100%;
    position: absolute;


    @include respond-to('mobile') {
        max-width: 100%;
        bottom: -10%;

    }

    @include respond-to('small') {
        bottom: -15%;      
        max-width: 100%;
    }

    @include respond-to('medium') {
        bottom: -35%;
        max-width: 95%;
        // max-width: 100%;

    }

    @include respond-to('large') {
        bottom: -75%;
        max-width: 85%;
        // max-width: 100%;

    }


}

//Navigation Bar

.mainNavBar{

    transition: background 1.2s ease;
    box-shadow: 0px 5px 20px 8px #000;
    z-index: 5;
    background-color: #FFF;//#ecf0f1;//$standOut1;



}

.navbar-brand{

 img{

    transition: background 1.2s ease;

    width: 3%;
    width: 4vw;
    margin-left: 2%;
    margin-left: 2vw;

    @include respond-to('mobile') {
        width: 4vw;

    }

    @include respond-to('large') {
        width: 2vw;

    }

}



}

.mainNavLinks{
    font-size: 2em;
    font-family: 'Raleway', sans-serif;

    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 3%;
    margin-left: 5vw;

    li{
        transition: margin 1.2s ease;
        margin-right: 3%;
        margin-right: 5vw;
    }

}



//Set the colour and z-index for the content sections of the main page
.pageContentSection{
    background-color: $plainPageBackGround;
    z-index: 1;
    padding: 0px 0px;


}


////////////*/
//              FAQs Styles
////////////*/


.AHFAQList{

    // Alter the margin to make the FAQs a bit more compact
    .AHTitle{
        margin-bottom: 0.5em;
        margin-top: 0.2em;
    }
}



.buttonSpacer{

    margin-bottom: 2%;
}



//Add a short wxtension onto the page to give the drop shaddow effect 
 #pageEnd{

    display: block;
    height: 45%;
    @include dropShaddowBellow(0 40px 50px -12px);
 }

//Add a drop shadow to the end of the page over the footer to add depth
 #pageFootDropShadowSource{
    @include dropShaddowBellow(0 0px 50px 20px);

 }

footer{

    width: 100%;
    background-color: #343333;
    text-align: center;
    color: white;

    overflow: hidden;

    position: fixed;
    bottom: 0;
    z-index: -2;

 #primFooterLogo{

    max-width: 45%;

    @include respond-to('mobile') {
        max-width: 50%;

    }

    @include respond-to('small') {
        max-width: 40%;

    }

    @include respond-to('medium') {
        max-width: 30%;

    }

    @include respond-to('large') {
        max-width: 20%;

    }
}

    #astonULogo{
        //Nudge the Aston uni logo down a bit so it lines up better with the wierd SU logo
        margin-top: 5%;
    
        @include respond-to('mobile') {
            margin-top: 5%;

        }

        @include respond-to('small') {
            margin-top: 5%;

        }

        @include respond-to('medium') {
            margin-top: 5%;

        }

        @include respond-to('large') {
            margin-top: 3%;

        }

    }


    #astonSULogo{
        //nudge the logo to the right a bit, it looks odd outherwise...
        margin-right: 5%;

    }

    //Aston Union and Aston EAS Logo 
    .secondryPartners{

        max-width: 70%;

        @include respond-to('mobile') {
            max-width: 45%;

        }

        @include respond-to('small') {
            max-width: 30%;

        }

        @include respond-to('medium') {
            max-width: 30%;

        }

        @include respond-to('large') {
            max-width: 25%;

        }

    }

    a address{
		//Address at the bottom of the page
		margin-bottom: 2%;
		font-size: 1.2em;
		margin: 0 auto;
        text-decoration: none;
        color: white;


    }

}
