@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/mixins";
@import "partials/base";
@import "compass/css3";


body, html {
    height: 100%;
    font-family: 'Lato', sans-serif;
    display: flex;

}

#page{

	display: inline-block;

    @include dropShaddowBellow(0 40px 50px -12px);

}

.pageStdVSpace{
	display: block;
	width: 100%;
	height: 20%;

}

.standardVSpace{

    padding-top: 5%;
    display: block;

}

/*
	Add an additional text size
 */
 .display-5{
     font-size: 2.6rem;
     font-weight: 300;
 }


#imageSpacer{

    width: 100%;
    display: block;

}

 .parallax {

    /* The image to be used */
    background-image: url("/assets/media/bg.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    @include respond-to('mobile') {
        height: 25%;

        #imageSpacer{
            height: 50%;

        }

    }

    @include respond-to('small') {
        height: 25%;

        #imageSpacer{
            height: 50%;

        }

    }

    @include respond-to('medium') {
        height: 70%;

        #imageSpacer{
            height: 90%;

        }

    }

    @include respond-to('large') {
        height: 70%;

        #imageSpacer{
            height: 90%;

        }

    }
    //Else
    //Full height
    height: 70%;
}

#angularTransitionBorder{


    //Google linear backgroud editor for a starting point, then edit it to fit design.
    background: -moz-linear-gradient(5deg, rgba(255, 255, 255, 1) 81%,rgba(27,39,91,0) 81%); /* FF3.6-15 */
    background: -webkit-linear-gradient(5deg, rgba(255, 255, 255, 1) 81%,rgba(27,39,91,0) 81%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(5deg, rgba(255, 255, 255, 1) 81%,rgba(27,39,91,0) 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    display: block;
    width: 100%;
    height: 200px;
    z-index: 2;

}


/*
    Positioning for the aston triangel at the top of the page, JS scripts takes
    care of the movment
 */
 #astonTriangle{

    width: 30%;
    @include transform(translate(-30%, -30%));

    display: inline-block;
    text-align: center;
    position: absolute;

    //Set the triangle ontop
    z-index: 3;


    // The postion of the triangle depends on the viewport, set it correctly:
    @include respond-to('mobile') {

        //Hide on mobile
        display: none;

    }

    @include respond-to('small') {

        top: 5%;
        left: 55%;

    }

    @include respond-to('medium') {

        top: 50%;
        left: 50%;

    }

    @include respond-to('large') {

        top: 50%;
        left: 50%;

    }
    //Else
    top: 50%;
    left: 50%;

}

//Fix for chrome which will not maintain the correct image aspect ratio
// This causes jumpy scaling, need a fix for this.
.carousel .carousel-item .caroselImage {

    @include respond-to('mobile') {
        height: 40%;

    }

    @include respond-to('small') {
        height: 50%;

    }

    @include respond-to('medium') {
        height: 100%;
      
    }

    @include respond-to('large') {
        height: 100%;
       
    }

}


#latestInfoPane{

    height: 40%;
    width: 99%;
    display: inline-table;

}

#fbIframe iframe{

    width: 100%;
}


#pageFloor{
    width: 100%;
    height: 250px;
    display: block;
    background-image: url("/assets/media/bg.jpg");

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include dropShaddowBellow(0 40px 50px -12px);

    }

    .buttonSpacer{
        height: 5%;
        display: block;
        width: 100%;
    }


    footer{




     width: 100%;
     margin-top: 5%;
     padding-top: 2%;
     padding-bottom: 2%;
     background-color: #0e100c;;
     text-align: center;
     color: white;

     overflow: hidden;


    //nudge the image down a little, centre verticaly if desired later
    img{


        @include respond-to('mobile') {

            width: 65%;
            margin-top: 5%;
            margin-bottom: 5%;

        }

        @include respond-to('small') {

            width: 65%;
            margin-top: 5%;
            margin-bottom: 5%;

        }


        padding-top: 1%;


    }

    a address{
		//Get rid of margin-bottom which will skrew up bg style
		margin-bottom: 0;
		font-size: 0.9em;
		margin: 0 auto;
        text-decoration: none;
        color: white;


    }

}
