//Contains the 'global' variables used in this SASS project 

/* HSL */
$plainPageBackGround: hsla(0%, 0%, 100%, 1);
$plainBackground2: hsla(207%, 95%, 8%, 1);
$standOut1: hsla(345%, 100%, 60%, 1);
$plainBackground1: hsla(260%, 14%, 4%, 1);
$color5: hsla(183%, 79%, 13%, 1);


//The colour used on the tooltips:
$ToolTipColour: #38B499;


//Media Querys Points of scale:
//Edited to match bootstrap

$breakpoints: (
  'mobile': ( max-width:  576px ),
  'small':  ( min-width:  576px ),
  'medium': ( min-width:  992px ),
  'large':  ( min-width: 1200px )
) !default;

